{% extends "transport/base.html" %}

{% block title %}Password Changed | Abia Transit{% endblock %}

{% block content %}

<section class="auth-page">
    <div class="auth-card">

        <div class="auth-header">
            <h1>Password changed</h1>
            <p>Your password has been changed successfully.</p>
        </div>

        <p class="auth-footer">
            <a href="{% url 'accounts:profile' %}">
                Back to Profile
            </a>
        </p>

    </div>
</section>

{% endblock %}