<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Government Analytics</title>
</head>

<body>

    <h1>Government Analytics Dashboard</h1>

    <p>Abia Transit Basic Analytics</p>

    <hr>

    <h2>Transport Overview</h2>

    <div>
        <h3>Total Passengers</h3>
        <p>{{ total_passengers }}</p>
    </div>

    <div>
        <h3>Total Trips</h3>
        <p>{{ total_trips }}</p>
    </div>

    <div>
        <h3>Total Bookings</h3>
        <p>{{ total_bookings }}</p>
    </div>

    <div>
        <h3>Total Vehicles</h3>
        <p>{{ total_vehicles }}</p>
    </div>

    <div>
        <h3>Total Routes</h3>
        <p>{{ total_routes }}</p>
    </div>

</body>

</html>